div{
    margin: 100px auto;
    width:80%;
    text-align: center;
}
h1{
    font-size: 80px;
    
    font-family: Impact;
}
p{
    font-size:35px;
}
button{
    background-color:blue;
    padding: 30px 50px;
    color:white;
}
button:hover{
    background-color:green;
}
#quote{
    font-size:35px;
}